<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    {% load i18n %}
    {% load allauth account %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% trans "Masuk" %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}" />
  </head>

  <body>
    <!-- Navbar -->
    {% include 'includes/navbar.html' %}
    <!-- End Navbar -->

    <div class="container-login">
      <div class="row w-100">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <div class="form-container">
            <h1 class="text-center">{% trans "Masuk" %}</h1>
            <p>{% trans "Silakan isi detail di bawah ini untuk masuk ke akun Anda." %}</p>

            <!-- Login Form -->
            {% if not SOCIALACCOUNT_ONLY %}
                {% url 'account_login' as login_url %}
                {% element form form=form method="post" action=login_url tags="entrance,login" %}
                    {% slot body %}
                        {% csrf_token %}
                        {% element fields form=form unlabeled=True %}
                        {% endelement %}
                        {{ redirect_field }}
                    {% endslot %}
                    {% slot actions %}
                        <!-- Tambahkan button submit di sini -->
                        <button type="submit" class="btn btn-primary btn-block">
                            {% trans "Masuk" %}
                        </button>
                    {% endslot %}
                {% endelement %}
            {% endif %}

            <!-- Link to Sign Up -->
            <p class="mt-3 text-center">
                {% trans "Belum Punya Akun?" %} 
                <a href="{% url 'account_signup' %}" class="text-primary">
                    {% trans "Daftar Sekarang" %}
                </a>
            </p>

            {% if SOCIALACCOUNT_ENABLED %}
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            {% endif %}
          </div>
        </div>
        <div class="col-md-6 logo-container">
          <img src="{% static 'main/images/LogoOR.png' %}" alt="Office Route Logo" />
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'main/js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Footer -->
    {% include 'includes/footer.html' %}
  </body>
</html>
