<!-- templates/includes/navbar.html -->
{% load static %} <!-- This line loads the static files in your template -->

<header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'about' %}">
          <img src="{% static 'main/images/LogoOR.png' %}" alt="Logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Courses</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'all_course' %}">All Courses</a></li>
                <!-- More items can be added here -->
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'about' %}">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'faqs' %}">FAQs</a></li>
          </ul>
          <div class="btn-container ms-auto">
            <a class="btn btn-signin" href="{% url 'login' %}">Sign In</a>
            <a class="btn btn-signup" href="{% url 'signup' %}">Sign Up</a>
          </div>
          <audio id="navbarSigninSound" src="{% static 'main/audio/LoginOfficeRoute.mp3' %}"></audio>
        </div>
      </div>
    </nav>
</header>
