<!-- templates/includes/navbar.html -->
{% load static %} <!-- This line loads the static files in your template -->

<header>
    <nav class="navbar navbar-expand-lg" style="position: fixed; top: 0; left: 0; width: 100%; z-index: 1050;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'about' %}">
                <img src="{% static 'main/images/LogoOR.png' %}" alt="Logo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Courses</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'all_course' %}">All Courses</a></li>
                            <!-- More items can be added here -->
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'about' %}">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'faqs' %}">FAQs</a></li>
                </ul>
                
                <div class="d-flex">
                    {% if user.is_authenticated %}
                        <!-- Display Logout button if the user is authenticated -->
                        <a class="btn btn-signup" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <!-- Display Sign In and Sign Up buttons if the user is not authenticated -->
                        <a class="btn btn-signin" href="{% url 'login' %}">Sign In</a>
                        <a class="btn btn-signup" href="{% url 'signup' %}">Sign Up</a>
                    {% endif %}
                </div>
                
                <audio id="navbarSigninSound" src="{% static 'main/audio/LoginOfficeRoute.mp3' %}"></audio>
            </div>
        </div>
    </nav>
</header>

<!-- Tambahkan padding-top pada body agar konten tidak tumpang tindih dengan navbar -->
<body style="padding-top: 56px;">
