<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Office Route | FAQs</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}" />
  </head>
  <body>
    <!-- Navbar -->
    {% include 'includes/navbar.html' %}
    <!-- End Navbar -->

    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="text-center mb-4">FAQs</h1>
          <div class="accordion" id="faqAccordion">
            <!-- FAQs Item 1-->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Apa itu Office Route?
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  Word, PowerPoint, dan Excel. Kami menyediakan pembelajaran di berbagai tingkat, mulai dari pemula hingga lanjutan, dengan fokus pada keterampilan praktis yang dapat diterapkan di tempat kerja.
                </div>
              </div>
            </div>

            <!-- FAQs Item 2-->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="true"
                  aria-controls="collapseTwo"
                >
                  Apakah kursus di Office Route cocok untuk pemula?
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse show"
                aria-labelledby="headingTwo"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  Ya! Kursus di Office Route dirancang untuk semua tingkat pembelajaran, termasuk pemula. Jika Anda baru mengenal Microsoft Office, Anda dapat memulai dengan kursus tingkat Pemula dan kemudian melanjutkan ke tingkat Menengah atau Lanjutan.
                </div>
              </div>
            </div>

            <!-- FAQs Item 3 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="true"
                  aria-controls="collapseThree"
                >
                Apakah saya menerima sertifikat setelah menyelesaikan kursus?
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse show"
                aria-labelledby="headingThree"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  Ya, setelah berhasil menyelesaikan kursus, Anda akan menerima sertifikat penyelesaian dari Office Route, yang dapat Anda tambahkan ke profil profesional di LinkedIn atau gunakan saat melamar pekerjaan.
                </div>
              </div>
            </div>
            <!--  FAQs Item 4 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                  aria-expanded="true"
                  aria-controls="collapseFour"
                >
                Bagaimana cara mengakses kursus di Office Route?
                </button>
              </h2>
              <div
                id="collapseFour"
                class="accordion-collapse collapse show"
                aria-labelledby="headingFour"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  Anda dapat mengakses kursus di Office Route melalui situs web kami atau aplikasi mobile. Cukup buat akun, pilih kursus yang Anda inginkan, dan mulai belajar kapan saja, di mana saja.
                </div>
              </div>
            </div>
            <!--  FAQs Item 5 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFive"
                  aria-expanded="true"
                  aria-controls="collapseFive"
                >
                  Apakah Office Route menyediakan dukungan setelah menyelesaikan kursus?
                </button>
              </h2>
              <div
                id="collapseFive"
                class="accordion-collapse collapse show"
                aria-labelledby="headingFive"
                data-bs-parent="#faqAccordion"
              >
                <div class="accordion-body">
                  Ya, kami menawarkan dukungan setelah kursus melalui forum diskusi, webinar, dan akses ke instruktur jika Anda memiliki pertanyaan lebih lanjut. Anda juga dapat bergabung dengan komunitas Office Route untuk terus belajar dan berkembang bersama.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Back to Top Button -->
    <button id="backToTop" class="back-to-top">
      <i class="bi bi-arrow-up-short"></i>
    </button>

    <!-- Footer section -->
   
        {% include 'includes/footer.html' %}

    <!-- jQuery minified -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'main/js/script.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>