<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz - Microsoft Word Course</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}" />

</head>

<body>
    {% include 'includes/navbar.html' %}
    <div class="quiz-container">
        <h2 class=" title text-center">{{quiz.title}}</h2>

        <form id="quiz-form" method="post">
            {% csrf_token %}
            {% for question in questions %}
            <div class="question-group">
                <p class="question">{{ question.question_text }}</p>
                {% for key, value in question.options.items %}
                <input type="radio" id="{{ value }}" name="question_{{ question.id }}" value="{{ key }}" />
                <label for="{{ value }}">{{ value }}</label><br />
                {% endfor %}
            </div>
            {% endfor %}

            <!-- Submit Button -->
            <!-- <button type="button" class="submit-btn" onclick="showResult()">Submit Quiz</button> -->
            <button type="submit" class="submit-btn">Submit Quiz</button>
        </form>

        <!-- Footer section -->
        {% include 'includes/footer.html' %}
        <!-- jQuery minified -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="module" src="{% static 'main/js/script.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>